---
layout: page
title: Cristian Suárez-Giraldo
---

<div>
<h1>Biografía</h1>
<a href ="https://orcid.org/0000-0002-7130-3645">Orcid</a>
<img src="/edicion-digital-202110/assets/CristianS.jpg" alt="foto"/>











</div>

